<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<script type="text/javascript" src="../static/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../static/hotel.js"></script>
	<title>Prijava</title>
</head>

<body>
	<h2>New hotel</h2>
	<form id="add_hotel">
		<table>
			<tr>
				<td>Name</td>
				<td><input type="text" name="txt_name" class="field"></td>
			</tr>
			<tr>
				<td>Address</td>
				<td><input type="text" name="txt_address" class="field"></td>
			</tr>
			<tr>
				<td>Description</td>
				<td><input type="text" name="txt_description" class="field"></td>
			</tr>
			<tr>
				<td>Services</td>
				<td><input type="text" name="txt_service" class="field"></td>
			</tr>
			<tr>
				<td>Rooms</td>
				<td><input type="text" name="txt_rooms" class="field"></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" name="btn_vehicle" value="Add"></td>
			</tr>
		</table>
	</form>
</body>

</html>